# Auto detect text files and perform LF normalization
* text=auto
'GeneratorReinforcementLearningCases.unitypackage' filter=lfs diff=lfs merge=lfs -text
GeneratorReinforcementLearningCases.unitypackage filter=lfs diff=lfs merge=lfs -text
